<fieldset>
	<legend>Contestant information</legend>
<% form_for([@show, @contestant]) do |f| %>
<%= f.error_messages %>
<p>
	<%= f.label :Name, "Name" %><br />
	<%= f.text_field :name %>
</p>
<p>
	<%= submit_tag %>
</p>
<% end %>
</fieldset>