<%= error_messages_for :session %>
 
<fieldset>
  <legend>Login</legend>
 
  <% form_for @session do |f| %>
 
    <label for="session_login">Username</label><br />
    <%= f.text_field :login %><br />
 
    <label for="session_password">Password</label><br />
    <%= f.password_field :password %><br />
 
    <%= submit_tag "login" %>
 
  <% end %>
 
</fieldset>