<fieldset>
	<legend>Help</legend>

	<p>If you have forgotten your password, enter your user name below and click the "Recover my password" button.</p>
	<p>An email will be sent with a link to your address on record. Click this link to login and change your password.</p>
	<p>The link given will no longer function after your password is changed.</p>

	<% form_tag recover_users_path, :method => :post do %>

	<p>
		<label for="user_login">Username:</label><br />
		<%= text_field_tag :login %>
	</p>

	<p><%= submit_tag "Recover my password" %></p>

	<% end %>

</fieldset>