<fieldset>
	<legend>Show information</legend>
<% form_for([@show]) do |f| %>
<%= f.error_messages %>
<p>
	<%= f.label :name, "Name" %><br />
	<%= f.text_field :name %>
</p>
<p>
	<%= submit_tag %>
</p>
<% end %>
</fieldset>